/* "f6bd60","f7ede2","f5cac3","84a59d","f28482" */
/* Global styles */
html{
    box-sizing: border-box;
}
*,*::before, *:after {
    box-sizing: inherit;
}
    
body{
    color: #6e6e6e;
    margin: 0;

}
    
img{
    width: 300px;
}
a{
    color: #ffb949;
}
a:hover{
    text-decoration: none;
}
.content-wrap {
    width: 800px;
    margin: 0 auto;
    padding: 60px;
}
h1 {
    font-family: 'Palanquin Dark', sans-serif;
}
.thin-shade {
    font-family: 'Palanquin Dark';
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 0.35rem;
    font-size: 100px;
    color: #f7ede2;
    text-shadow: -4px 4px 0 #F6BD60, -6px 6px 0 #f7ede2;
  }

h2 {
    font-family: 'Palanquin Dark', sans-serif;
    margin: 0;
    font-size: 30px;
}
/* Profile */
header{
    background: #f5cac3;
}

/* Project */
.project{
    background: #f7ede2;
}
.project a{
    color: #F6BD60;

}

.project .btn{
    color: #f7ede2;
    background: #F6BD60;
    text-decoration: none;
    padding: 8px;
    border-radius: 8px;
    display: inline-block;
}
.project .btn:hover{
    background-color: #face88;
}
.project-item{
    overflow: hidden;
    border-bottom: 1px dashed #84a59d;
    padding: 25px 0;
}
.project-item img{
    float: left;
    margin-right: 20px;
}
.project-item h3{
    margin-top: 0;
}
/* Education */

/* Contact */
footer{
    background: #84a59d;
    color: white;
}

